<section>
	<div>
		<div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Sample CRUD</h3>
				</div>
				<div class="panel-body">
					<p>
						This is a simple CRUD example using <b>Spring Boot</b>, <b>Angular.JS</b>,
						<b>Bootstrap</b>, and <b>PostgreSQL</b>.
					</p>
					<p>
						Over here you can see a Full-Stack made by <b>JavaScript</b>, <b>Java</b>,
						and <b>Relational Database</b>
					</p>
					<a class="btn btn-default btn-success" href="/#/user">Click
						Here to Star CRUD!</a>
				</div>
			</div>
		</div>
	</div>
</section>